// 媒体查询
mq-phone()
  @media (max-width 679px)
    {block}

mq-tablet()
  @media (min-width 680px) and (max-width 1199px)
    {block}

mq-desktop()
  @media (min-width 1200px) and (max-width 1799px)
    {block}

mq-desktop-plus()
  @media (min-width 1800px)
    {block}

mq-tablet-up()
  @media (min-width 600px)
    {block}
